In [6]:
import datetime
import pandas as pd
import requests
import time
from typing import Dict, List
import duckdb
import os

In [7]:
SLEEPER_REST_API = "https://api.sleeper.com"

def get_player_week_stats(player_id: str, season: int) -> List[Dict]:
    url = f"{SLEEPER_REST_API}/stats/nfl/player/{player_id}?season_type=regular&season={season}&grouping=week"
    time.sleep(0.1)
    req = requests.get(url)
    res = req.json()
    raw = res.values()
    week_stats = list(filter(lambda v: v is not None, raw))
    return week_stats


def transform_week_stats(raw_week_stats: List[Dict]) -> List[Dict]:    
    return [
        {
            "stat_id": r.get("season") + "_" + str(r.get("week")) + "_" + r.get("player_id"),
            "week_id": r.get("season") + "_" + str(r.get("week")),
            "player_id": r.get("player_id"),
            "game_id": r.get("game_id"),
            "season": r.get("season"),
            "week": r.get("week"),
            "team": r.get("team"),
            "opponent": r.get("opponent"),
            "played_at": int(datetime.datetime.strptime(r.get("date"), "%Y-%m-%d").timestamp() * 1000),
            "receiving_targets": int(r.get("stats", {}).get("rec_tgt", 0)),
            "receiving_catches": int(r.get("stats", {}).get("rec", 0)),
            "receiving_yards": int(r.get("stats", {}).get("rec_yd", 0)),
            "snaps": int(r.get("stats", {}).get("off_snp", 0))
            
        }
        for r in raw_week_stats
    ]

def get_all_players() -> List[Dict]:
    url = f"{SLEEPER_REST_API}/v1/players/nfl"
    req = requests.get(url)
    players_by_id = req.json()
    players = [
        {
            "player_id": p.get("player_id"),
            "name": p.get("full_name"),
            "position": p.get("position"),
            "current_team": p.get("team"),
            "jersey_number": int(p.get("number")) if p.get("number") is not None else None
        }
        for p in players_by_id.values()
    ]
    return players

In [8]:
player_ids = [11628, 10232, 8112, 7090, 9997, 7571, 11637, 8134, 12526, 11626, 4983, 11620, 7564, 6801, 6783, 10444, 6786, 8137, 5045, 9494, 7547, 8148, 12501, 10222, 7569, 4950, 9500, 6819, 11631, 12530, 11624, 10229, 12483, 2374, 11635, 1479, 9493, 2133, 3321, 7526, 6794, 9756, 2449, 9501, 8144, 11834, 11632, 8126, 8146, 11625, 5859, 7525, 5846, 1689, 11638, 7049, 9488, 4039, 2216, 12514, 4981, 12499, 5927, 5872]
all_stats = []


for player in player_ids:
    raw_stats = get_player_week_stats(player_id=player, season=2025)
    stats = transform_week_stats(raw_stats)
    all_stats.extend(stats)

df_stats = pd.DataFrame(all_stats)
df_stats.to_csv("raw_data/weekly_stats.csv", index=False)

df_players = pd.DataFrame(get_all_players())
# df_players = pd.read_csv('players.csv')
df_players['player_id'] = df_players['player_id'].astype(str)
df_players.to_csv("raw_data/players.csv", index=False)

df_wrs = pd.read_csv('raw_data/wrs.csv')
df_wrs = df_wrs.drop(columns=['name'])
df_wrs['player_id'] = df_wrs['player_id'].astype(str)
df_wrs = pd.merge(df_wrs, df_players, on="player_id", how="left")
df_wrs.to_csv("raw_data/wrs.csv", index=False)

In [9]:
CREATE_FROM_CSV_QUERY = """
CREATE TABLE {table_name} AS
SELECT *
FROM read_csv_auto('{filename}')
""".strip()

CREATE_TEMPLATE_BY_FORMAT = {
    "csv": CREATE_FROM_CSV_QUERY,
}


def create_table(con, config: Dict):
    table_name = config.get("name")
    if not table_name:
        raise ValueError("Must specify table name.")

    table_path = config.get("path")
    if not table_path:
        raise ValueError("Must specify table path.")

    table_format = config.get("format")
    if not table_format:
        raise ValueError("Must specify table format.")
    if table_format not in CREATE_TEMPLATE_BY_FORMAT:
        valid_formats = ", ".join(CREATE_TEMPLATE_BY_FORMAT.keys())
        error = f"Invalid format `{table_format}`. Must be one of: {valid_formats}."
        raise ValueError(error)

    template = CREATE_TEMPLATE_BY_FORMAT.get(table_format)
    create_query = template.format(table_name=table_name, filename=table_path)
    con.execute(create_query)


def create_database(database_name: str, table_configs: List[Dict]):
    if os.path.exists(database_name):
        os.remove(database_name)

    with duckdb.connect(database_name) as con:
        for table_config in table_configs:
            create_table(con, table_config)

In [10]:
DATABASE = "database.db"
TABLES_TO_CREATE = [
    {
        "name": "weekly_data",
        "path": "raw_data/weekly_stats.csv",
        "format": "csv",
    },
    {
        "name": "wr_data",
        "path": "raw_data/wrs.csv",
        "format": "csv",
    },
]

create_database(database_name=DATABASE, table_configs=TABLES_TO_CREATE)

In [19]:
teams = ["ARI","ATL","BAL","BUF","CAR","CHI","CIN","CLE","DAL","DEN","DET","GB","HOU","IND","JAX","KC","LV","LAC","LAR","MIA","MIN","NE","NO","NYG","NYJ","PHI","PIT","SEA","SF","TB","TEN","WAS"]

with duckdb.connect(DATABASE) as con:
    for team in teams:
        con.sql(f"""
        SELECT weekly_data.player_id, name, COUNT(game_id) AS games_played, depth_chart_rank
        FROM weekly_data
        JOIN wr_data ON wr_data.player_id = weekly_data.player_id
        WHERE current_team_x = '{team}' AND snaps > 0
        GROUP BY weekly_data.player_id, name, depth_chart_rank
        ORDER BY depth_chart_rank ASC
        ;
        """).show()

┌───────────┬─────────────────┬──────────────┬──────────────────┐
│ player_id │      name       │ games_played │ depth_chart_rank │
│   int64   │     varchar     │    int64     │      int64       │
├───────────┼─────────────────┼──────────────┼──────────────────┤
│     11628 │ Marvin Harrison │           12 │                1 │
│     10232 │ Michael Wilson  │           16 │                2 │
└───────────┴─────────────────┴──────────────┴──────────────────┘

┌───────────┬────────────────┬──────────────┬──────────────────┐
│ player_id │      name      │ games_played │ depth_chart_rank │
│   int64   │    varchar     │    int64     │      int64       │
├───────────┼────────────────┼──────────────┼──────────────────┤
│      8112 │ Drake London   │           11 │                1 │
│      7090 │ Darnell Mooney │           14 │                2 │
└───────────┴────────────────┴──────────────┴──────────────────┘

┌───────────┬────────────────┬──────────────┬──────────────────┐
│ player_id │      name      │ games_played │ depth_chart_rank │
│   int64   │    varchar     │    int64     │      int64       │
├───────────┼────────────────┼──────────────┼──────────────────┤
│      9997 │ Zay Flowers    │           16 │                1 │
│      7571 │ Rashod Bateman │           13 │                2 │
└───────────┴────────────────┴──────────────┴──────────────────┘

┌───────────┬───────────────┬──────────────┬──────────────────┐
│ player_id │     name      │ games_played │ depth_chart_rank │
│   int64   │    varchar    │    int64     │      int64       │
├───────────┼───────────────┼──────────────┼──────────────────┤
│     11637 │ Keon Coleman  │           12 │                1 │
│      8134 │ Khalil Shakir │           16 │                2 │
└───────────┴───────────────┴──────────────┴──────────────────┘

┌───────────┬───────────────────┬──────────────┬──────────────────┐
│ player_id │       name        │ games_played │ depth_chart_rank │
│   int64   │      varchar      │    int64     │      int64       │
├───────────┼───────────────────┼──────────────┼──────────────────┤
│     12526 │ Tetairoa McMillan │           17 │                1 │
│     11626 │ Xavier Legette    │           15 │                2 │
└───────────┴───────────────────┴──────────────┴──────────────────┘

┌───────────┬─────────────┬──────────────┬──────────────────┐
│ player_id │    name     │ games_played │ depth_chart_rank │
│   int64   │   varchar   │    int64     │      int64       │
├───────────┼─────────────┼──────────────┼──────────────────┤
│      4983 │ DJ Moore    │           16 │                1 │
│     11620 │ Rome Odunze │           12 │                2 │
└───────────┴─────────────┴──────────────┴──────────────────┘

┌───────────┬───────────────┬──────────────┬──────────────────┐
│ player_id │     name      │ games_played │ depth_chart_rank │
│   int64   │    varchar    │    int64     │      int64       │
├───────────┼───────────────┼──────────────┼──────────────────┤
│      7564 │ Ja'Marr Chase │           15 │                1 │
│      6801 │ Tee Higgins   │           14 │                2 │
└───────────┴───────────────┴──────────────┴──────────────────┘

┌───────────┬────────────────┬──────────────┬──────────────────┐
│ player_id │      name      │ games_played │ depth_chart_rank │
│   int64   │    varchar     │    int64     │      int64       │
├───────────┼────────────────┼──────────────┼──────────────────┤
│      6783 │ Jerry Jeudy    │           16 │                1 │
│     10444 │ Cedric Tillman │           12 │                2 │
└───────────┴────────────────┴──────────────┴──────────────────┘

┌───────────┬────────────────┬──────────────┬──────────────────┐
│ player_id │      name      │ games_played │ depth_chart_rank │
│   int64   │    varchar     │    int64     │      int64       │
├───────────┼────────────────┼──────────────┼──────────────────┤
│      6786 │ CeeDee Lamb    │           13 │                1 │
│      8137 │ George Pickens │           16 │                2 │
└───────────┴────────────────┴──────────────┴──────────────────┘

┌───────────┬──────────────────┬──────────────┬──────────────────┐
│ player_id │       name       │ games_played │ depth_chart_rank │
│   int64   │     varchar      │    int64     │      int64       │
├───────────┼──────────────────┼──────────────┼──────────────────┤
│      5045 │ Courtland Sutton │           16 │                1 │
│      9494 │ Marvin Mims      │           14 │                2 │
└───────────┴──────────────────┴──────────────┴──────────────────┘

┌───────────┬───────────────────┬──────────────┬──────────────────┐
│ player_id │       name        │ games_played │ depth_chart_rank │
│   int64   │      varchar      │    int64     │      int64       │
├───────────┼───────────────────┼──────────────┼──────────────────┤
│      7547 │ Amon-Ra St. Brown │           16 │                1 │
│      8148 │ Jameson Williams  │           16 │                2 │
└───────────┴───────────────────┴──────────────┴──────────────────┘

┌───────────┬────────────────┬──────────────┬──────────────────┐
│ player_id │      name      │ games_played │ depth_chart_rank │
│   int64   │    varchar     │    int64     │      int64       │
├───────────┼────────────────┼──────────────┼──────────────────┤
│     12501 │ Matthew Golden │           13 │                1 │
│     10222 │ Jayden Reed    │            6 │                2 │
└───────────┴────────────────┴──────────────┴──────────────────┘

┌───────────┬────────────────┬──────────────┬──────────────────┐
│ player_id │      name      │ games_played │ depth_chart_rank │
│   int64   │    varchar     │    int64     │      int64       │
├───────────┼────────────────┼──────────────┼──────────────────┤
│      7569 │ Nico Collins   │           15 │                1 │
│      4950 │ Christian Kirk │           12 │                2 │
└───────────┴────────────────┴──────────────┴──────────────────┘

┌───────────┬─────────────────┬──────────────┬──────────────────┐
│ player_id │      name       │ games_played │ depth_chart_rank │
│   int64   │     varchar     │    int64     │      int64       │
├───────────┼─────────────────┼──────────────┼──────────────────┤
│      9500 │ Josh Downs      │           15 │                1 │
│      6819 │ Michael Pittman │           16 │                2 │
└───────────┴─────────────────┴──────────────┴──────────────────┘

┌───────────┬───────────────┬──────────────┬──────────────────┐
│ player_id │     name      │ games_played │ depth_chart_rank │
│   int64   │    varchar    │    int64     │      int64       │
├───────────┼───────────────┼──────────────┼──────────────────┤
│     11631 │ Brian Thomas  │           13 │                1 │
│     12530 │ Travis Hunter │            7 │                2 │
└───────────┴───────────────┴──────────────┴──────────────────┘

┌───────────┬───────────────┬──────────────┬──────────────────┐
│ player_id │     name      │ games_played │ depth_chart_rank │
│   int64   │    varchar    │    int64     │      int64       │
├───────────┼───────────────┼──────────────┼──────────────────┤
│     11624 │ Xavier Worthy │           14 │                1 │
│     10229 │ Rashee Rice   │            8 │                2 │
└───────────┴───────────────┴──────────────┴──────────────────┘

┌───────────┬───────────────┬──────────────┬──────────────────┐
│ player_id │     name      │ games_played │ depth_chart_rank │
│   int64   │    varchar    │    int64     │      int64       │
├───────────┼───────────────┼──────────────┼──────────────────┤
│     12483 │ Jack Bech     │           14 │                1 │
│      2374 │ Tyler Lockett │           15 │                2 │
└───────────┴───────────────┴──────────────┴──────────────────┘

┌───────────┬───────────────┬──────────────┬──────────────────┐
│ player_id │     name      │ games_played │ depth_chart_rank │
│   int64   │    varchar    │    int64     │      int64       │
├───────────┼───────────────┼──────────────┼──────────────────┤
│     11635 │ Ladd McConkey │           16 │                1 │
│      1479 │ Keenan Allen  │           16 │                2 │
└───────────┴───────────────┴──────────────┴──────────────────┘

┌───────────┬───────────────┬──────────────┬──────────────────┐
│ player_id │     name      │ games_played │ depth_chart_rank │
│   int64   │    varchar    │    int64     │      int64       │
├───────────┼───────────────┼──────────────┼──────────────────┤
│      9493 │ Puka Nacua    │           15 │                1 │
│      2133 │ Davante Adams │           14 │                2 │
└───────────┴───────────────┴──────────────┴──────────────────┘

┌───────────┬───────────────┬──────────────┬──────────────────┐
│ player_id │     name      │ games_played │ depth_chart_rank │
│   int64   │    varchar    │    int64     │      int64       │
├───────────┼───────────────┼──────────────┼──────────────────┤
│      3321 │ Tyreek Hill   │            4 │                1 │
│      7526 │ Jaylen Waddle │           16 │                2 │
└───────────┴───────────────┴──────────────┴──────────────────┘

┌───────────┬──────────────────┬──────────────┬──────────────────┐
│ player_id │       name       │ games_played │ depth_chart_rank │
│   int64   │     varchar      │    int64     │      int64       │
├───────────┼──────────────────┼──────────────┼──────────────────┤
│      6794 │ Justin Jefferson │           16 │                1 │
│      9756 │ Jordan Addison   │           13 │                2 │
└───────────┴──────────────────┴──────────────┴──────────────────┘

┌───────────┬─────────────────┬──────────────┬──────────────────┐
│ player_id │      name       │ games_played │ depth_chart_rank │
│   int64   │     varchar     │    int64     │      int64       │
├───────────┼─────────────────┼──────────────┼──────────────────┤
│      2449 │ Stefon Diggs    │           16 │                1 │
│      9501 │ DeMario Douglas │           16 │                2 │
└───────────┴─────────────────┴──────────────┴──────────────────┘

┌───────────┬───────────────┬──────────────┬──────────────────┐
│ player_id │     name      │ games_played │ depth_chart_rank │
│   int64   │    varchar    │    int64     │      int64       │
├───────────┼───────────────┼──────────────┼──────────────────┤
│      8144 │ Chris Olave   │           16 │                1 │
│     11834 │ Devaughn Vele │           13 │                2 │
└───────────┴───────────────┴──────────────┴──────────────────┘

┌───────────┬───────────────────┬──────────────┬──────────────────┐
│ player_id │       name        │ games_played │ depth_chart_rank │
│   int64   │      varchar      │    int64     │      int64       │
├───────────┼───────────────────┼──────────────┼──────────────────┤
│     11632 │ Malik Nabers      │            4 │                1 │
│      8126 │ Wan'Dale Robinson │           16 │                2 │
└───────────┴───────────────────┴──────────────┴──────────────────┘

┌───────────┬─────────────────┬──────────────┬──────────────────┐
│ player_id │      name       │ games_played │ depth_chart_rank │
│   int64   │     varchar     │    int64     │      int64       │
├───────────┼─────────────────┼──────────────┼──────────────────┤
│      8146 │ Garrett Wilson  │            7 │                1 │
│     11625 │ Adonai Mitchell │           15 │                2 │
└───────────┴─────────────────┴──────────────┴──────────────────┘

┌───────────┬───────────────┬──────────────┬──────────────────┐
│ player_id │     name      │ games_played │ depth_chart_rank │
│   int64   │    varchar    │    int64     │      int64       │
├───────────┼───────────────┼──────────────┼──────────────────┤
│      5859 │ A.J. Brown    │           15 │                1 │
│      7525 │ DeVonta Smith │           16 │                2 │
└───────────┴───────────────┴──────────────┴──────────────────┘

┌───────────┬──────────────┬──────────────┬──────────────────┐
│ player_id │     name     │ games_played │ depth_chart_rank │
│   int64   │   varchar    │    int64     │      int64       │
├───────────┼──────────────┼──────────────┼──────────────────┤
│      5846 │ DK Metcalf   │           15 │                1 │
│      1689 │ Adam Thielen │           15 │                2 │
└───────────┴──────────────┴──────────────┴──────────────────┘

┌───────────┬────────────────────┬──────────────┬──────────────────┐
│ player_id │        name        │ games_played │ depth_chart_rank │
│   int64   │      varchar       │    int64     │      int64       │
├───────────┼────────────────────┼──────────────┼──────────────────┤
│      9488 │ Jaxon Smith-Njigba │           17 │                1 │
│      4039 │ Cooper Kupp        │           16 │                2 │
└───────────┴────────────────────┴──────────────┴──────────────────┘

┌───────────┬────────────────┬──────────────┬──────────────────┐
│ player_id │      name      │ games_played │ depth_chart_rank │
│   int64   │    varchar     │    int64     │      int64       │
├───────────┼────────────────┼──────────────┼──────────────────┤
│     11638 │ Ricky Pearsall │            9 │                1 │
│      7049 │ Jauan Jennings │           15 │                2 │
└───────────┴────────────────┴──────────────┴──────────────────┘

┌───────────┬──────────────┬──────────────┬──────────────────┐
│ player_id │     name     │ games_played │ depth_chart_rank │
│   int64   │   varchar    │    int64     │      int64       │
├───────────┼──────────────┼──────────────┼──────────────────┤
│      2216 │ Mike Evans   │            8 │                1 │
│     12514 │ Emeka Egbuka │           17 │                2 │
└───────────┴──────────────┴──────────────┴──────────────────┘

┌───────────┬───────────────┬──────────────┬──────────────────┐
│ player_id │     name      │ games_played │ depth_chart_rank │
│   int64   │    varchar    │    int64     │      int64       │
├───────────┼───────────────┼──────────────┼──────────────────┤
│      4981 │ Calvin Ridley │            7 │                1 │
│     12499 │ Elic Ayomanor │           15 │                2 │
└───────────┴───────────────┴──────────────┴──────────────────┘

┌───────────┬────────────────┬──────────────┬──────────────────┐
│ player_id │      name      │ games_played │ depth_chart_rank │
│   int64   │    varchar     │    int64     │      int64       │
├───────────┼────────────────┼──────────────┼──────────────────┤
│      5927 │ Terry McLaurin │            9 │                1 │
│      5872 │ Deebo Samuel   │           15 │                2 │
└───────────┴────────────────┴──────────────┴──────────────────┘

In [13]:
with duckdb.connect(DATABASE) as con:
    
    con.sql("""
        CREATE OR REPLACE TABLE offense_games AS
        SELECT DISTINCT game_id, team, week
        FROM weekly_data;
    """)

    con.sql("""
        SELECT *
        FROM offense_games;
    """).show()

┌───────────┬─────────┬───────┐
│  game_id  │  team   │ week  │
│   int64   │ varchar │ int64 │
├───────────┼─────────┼───────┤
│ 202511333 │ ARI     │    13 │
│ 202511601 │ ARI     │    16 │
│ 202511707 │ ARI     │    17 │
│ 202511101 │ ARI     │    11 │
│ 202511014 │ ATL     │    10 │
│ 202511601 │ ATL     │    16 │
│ 202511324 │ ATL     │    13 │
│ 202510303 │ BAL     │     3 │
│ 202510104 │ BUF     │     1 │
│ 202510224 │ BUF     │     2 │
│     ·     │  ·      │     · │
│     ·     │  ·      │     · │
│     ·     │  ·      │     · │
│ 202511206 │ PIT     │    12 │
│ 202511403 │ PIT     │    14 │
│ 202511828 │ PIT     │    18 │
│ 202511231 │ SF      │    12 │
│ 202511531 │ SF      │    15 │
│ 202510935 │ SEA     │     9 │
│ 202511104 │ TB      │    11 │
│ 202511134 │ TEN     │    11 │
│ 202511735 │ WAS     │    17 │
│ 202510816 │ WAS     │     8 │
├───────────┴─────────┴───────┤
│ 539 rows          3 columns │
│ (20 shown)                  │
└─────────────────────────────┘

In [17]:
with duckdb.connect(DATABASE) as con:
    con.sql("""
        CREATE OR REPLACE TABLE wr1_games AS
        SELECT offense_games.game_id, offense_games.team, offense_games.week, weekly_data.player_id, name, 1 AS wr1_played
        FROM offense_games
        JOIN weekly_data ON weekly_data.game_id = offense_games.game_id AND weekly_data.team = offense_games.team
        JOIN wr_data ON wr_data.player_id = weekly_data.player_id
        WHERE depth_chart_rank = 1 AND snaps > 0 and current_team_x = weekly_data.team
        ORDER BY offense_games.team, offense_games.week, offense_games.game_id
        ;
    """)


    con.sql("""
        CREATE OR REPLACE TABLE wr2_games AS
        SELECT offense_games.game_id, offense_games.team, offense_games.week, weekly_data.player_id, name, 1 AS wr2_played
        FROM offense_games
        JOIN weekly_data ON weekly_data.game_id = offense_games.game_id AND weekly_data.team = offense_games.team
        JOIN wr_data ON wr_data.player_id = weekly_data.player_id
        WHERE depth_chart_rank = 2 AND snaps > 0 and current_team_x = weekly_data.team
        ORDER BY offense_games.team, offense_games.week, offense_games.game_id
        ;
    """)

    con.sql("""
        CREATE OR REPLACE TABLE game_data AS
        SELECT og.game_id, og.team, og.week, MAX(COALESCE(wr1_games.wr1_played, 0)) AS wr1_played, MAX(COALESCE(wr2_games.wr2_played, 0)) AS wr2_played
        FROM offense_games og
        LEFT JOIN wr1_games ON wr1_games.game_id = og.game_id AND wr1_games.team = og.team
        LEFT JOIN wr2_games ON wr2_games.game_id = og.game_id AND wr2_games.team = og.team
        GROUP BY og.game_id, og.team, og.week
        ORDER BY og.team, og.week, og.game_id;
    """)

    con.sql("SELECT * FROM wr1_games").show()
    con.sql("SELECT * FROM wr2_games").show()
    # con.sql("SELECT * FROM game_data").show()

┌───────────┬─────────┬───────┬───────────┬─────────────────┬────────────┐
│  game_id  │  team   │ week  │ player_id │      name       │ wr1_played │
│   int64   │ varchar │ int64 │   int64   │     varchar     │   int32    │
├───────────┼─────────┼───────┼───────────┼─────────────────┼────────────┤
│ 202510122 │ ARI     │     1 │     11628 │ Marvin Harrison │          1 │
│ 202510201 │ ARI     │     2 │     11628 │ Marvin Harrison │          1 │
│ 202510331 │ ARI     │     3 │     11628 │ Marvin Harrison │          1 │
│ 202510401 │ ARI     │     4 │     11628 │ Marvin Harrison │          1 │
│ 202510501 │ ARI     │     5 │     11628 │ Marvin Harrison │          1 │
│ 202510614 │ ARI     │     6 │     11628 │ Marvin Harrison │          1 │
│ 202510701 │ ARI     │     7 │     11628 │ Marvin Harrison │          1 │
│ 202510909 │ ARI     │     9 │     11628 │ Marvin Harrison │          1 │
│ 202511030 │ ARI     │    10 │     11628 │ Marvin Harrison │          1 │
│ 202511333 │ ARI     │    13 │     11628 │ Marvin Harrison │          1 │
│     ·     │  ·      │     · │        ·  │       ·         │          · │
│     ·     │  ·      │     · │        ·  │       ·         │          · │
│     ·     │  ·      │     · │        ·  │       ·         │          · │
│ 202511134 │ TEN     │    11 │      4981 │ Calvin Ridley   │          1 │
│ 202510135 │ WAS     │     1 │      5927 │ Terry McLaurin  │          1 │
│ 202510212 │ WAS     │     2 │      5927 │ Terry McLaurin  │          1 │
│ 202510335 │ WAS     │     3 │      5927 │ Terry McLaurin  │          1 │
│ 202510816 │ WAS     │     8 │      5927 │ Terry McLaurin  │          1 │
│ 202511335 │ WAS     │    13 │      5927 │ Terry McLaurin  │          1 │
│ 202511420 │ WAS     │    14 │      5927 │ Terry McLaurin  │          1 │
│ 202511523 │ WAS     │    15 │      5927 │ Terry McLaurin  │          1 │
│ 202511635 │ WAS     │    16 │      5927 │ Terry McLaurin  │          1 │
│ 202511735 │ WAS     │    17 │      5927 │ Terry McLaurin  │          1 │
├───────────┴─────────┴───────┴───────────┴─────────────────┴────────────┤
│ 418 rows (20 shown)                                          6 columns │
└────────────────────────────────────────────────────────────────────────┘

┌───────────┬─────────┬───────┬───────────┬────────────────┬────────────┐
│  game_id  │  team   │ week  │ player_id │      name      │ wr2_played │
│   int64   │ varchar │ int64 │   int64   │    varchar     │   int32    │
├───────────┼─────────┼───────┼───────────┼────────────────┼────────────┤
│ 202510122 │ ARI     │     1 │     10232 │ Michael Wilson │          1 │
│ 202510201 │ ARI     │     2 │     10232 │ Michael Wilson │          1 │
│ 202510331 │ ARI     │     3 │     10232 │ Michael Wilson │          1 │
│ 202510401 │ ARI     │     4 │     10232 │ Michael Wilson │          1 │
│ 202510501 │ ARI     │     5 │     10232 │ Michael Wilson │          1 │
│ 202510614 │ ARI     │     6 │     10232 │ Michael Wilson │          1 │
│ 202510701 │ ARI     │     7 │     10232 │ Michael Wilson │          1 │
│ 202510909 │ ARI     │     9 │     10232 │ Michael Wilson │          1 │
│ 202511030 │ ARI     │    10 │     10232 │ Michael Wilson │          1 │
│ 202511101 │ ARI     │    11 │     10232 │ Michael Wilson │          1 │
│     ·     │  ·      │     · │        ·  │      ·         │          · │
│     ·     │  ·      │     · │        ·  │      ·         │          · │
│     ·     │  ·      │     · │        ·  │      ·         │          · │
│ 202510635 │ WAS     │     6 │      5872 │ Deebo Samuel   │          1 │
│ 202510816 │ WAS     │     8 │      5872 │ Deebo Samuel   │          1 │
│ 202510935 │ WAS     │     9 │      5872 │ Deebo Samuel   │          1 │
│ 202511035 │ WAS     │    10 │      5872 │ Deebo Samuel   │          1 │
│ 202511119 │ WAS     │    11 │      5872 │ Deebo Samuel   │          1 │
│ 202511335 │ WAS     │    13 │      5872 │ Deebo Samuel   │          1 │
│ 202511420 │ WAS     │    14 │      5872 │ Deebo Samuel   │          1 │
│ 202511523 │ WAS     │    15 │      5872 │ Deebo Samuel   │          1 │
│ 202511635 │ WAS     │    16 │      5872 │ Deebo Samuel   │          1 │
│ 202511735 │ WAS     │    17 │      5872 │ Deebo Samuel   │          1 │
├───────────┴─────────┴───────┴───────────┴────────────────┴────────────┤
│ 425 rows (20 shown)                                         6 columns │
└───────────────────────────────────────────────────────────────────────┘

In [18]:
with duckdb.connect(DATABASE) as con:
    # con.sql("""
    #     SELECT *
    #     FROM weekly_data
    #     JOIN game_data ON game_data.game_id = weekly_data.game_id AND game_data.team = weekly_data.team
    #     WHERE wr1_played = 1 AND wr2_played = 1
    #     ORDER BY weekly_data.team, weekly_data.game_id, weekly_data.week
    #     ;
    # """).show()

    con.sql("""
        SELECT *
        FROM weekly_data
        JOIN game_data ON game_data.game_id = weekly_data.game_id AND game_data.team = weekly_data.team
        WHERE wr1_played = 0 AND wr2_played = 1
        ORDER BY weekly_data.team, weekly_data.game_id, weekly_data.week
        ;
    """).show(max_rows=50)

┌───────────────┬─────────┬───────────┬───────────┬────────┬───────┬─────────┬──────────┬───────────────┬───────────────────┬───────────────────┬─────────────────┬───────┬───────────┬─────────┬───────┬────────────┬────────────┐
│    stat_id    │ week_id │ player_id │  game_id  │ season │ week  │  team   │ opponent │   played_at   │ receiving_targets │ receiving_catches │ receiving_yards │ snaps │  game_id  │  team   │ week  │ wr1_played │ wr2_played │
│    varchar    │ varchar │   int64   │   int64   │ int64  │ int64 │ varchar │ varchar  │     int64     │       int64       │       int64       │      int64      │ int64 │   int64   │ varchar │ int64 │   int32    │   int32    │
├───────────────┼─────────┼───────────┼───────────┼────────┼───────┼─────────┼──────────┼───────────────┼───────────────────┼───────────────────┼─────────────────┼───────┼───────────┼─────────┼───────┼────────────┼────────────┤
│ 2025_11_10232 │ 2025_11 │     10232 │ 202511101 │   2025 │    11 │ ARI     │ SF       │ 1763272800000 │                18 │                15 │             185 │    65 │ 202511101 │ ARI     │    11 │          0 │          1 │
│ 2025_12_10232 │ 2025_12 │     10232 │ 202511201 │   2025 │    12 │ ARI     │ JAX      │ 1763877600000 │                15 │                10 │             118 │    69 │ 202511201 │ ARI     │    12 │          0 │          1 │
│ 2025_14_10232 │ 2025_14 │     10232 │ 202511401 │   2025 │    14 │ ARI     │ LAR      │ 1765087200000 │                16 │                11 │             142 │    49 │ 202511401 │ ARI     │    14 │          0 │          1 │
│ 2025_15_10232 │ 2025_15 │     10232 │ 202511513 │   2025 │    15 │ ARI     │ HOU      │ 1765692000000 │                11 │                 5 │              54 │    56 │ 202511513 │ ARI     │    15 │          0 │          1 │
│ 2025_8_7090   │ 2025_8  │      7090 │ 202510802 │   2025 │     8 │ ATL     │ MIA      │ 1761454800000 │                 4 │                 1 │              11 │    45 │ 202510802 │ ATL     │     8 │          0 │          1 │
│ 2025_12_7090  │ 2025_12 │      7090 │ 202511222 │   2025 │    12 │ ATL     │ NO       │ 1763877600000 │                 3 │                 3 │              74 │    37 │ 202511222 │ ATL     │    12 │          0 │          1 │
│ 2025_13_7090  │ 2025_13 │      7090 │ 202511324 │   2025 │    13 │ ATL     │ NYJ      │ 1764482400000 │                 5 │                 2 │              25 │    66 │ 202511324 │ ATL     │    13 │          0 │          1 │
│ 2025_14_7090  │ 2025_14 │      7090 │ 202511402 │   2025 │    14 │ ATL     │ SEA      │ 1765087200000 │                 4 │                 1 │               6 │    49 │ 202511402 │ ATL     │    14 │          0 │          1 │
│ 2025_15_7090  │ 2025_15 │      7090 │ 202511533 │   2025 │    15 │ ATL     │ TB       │ 1765432800000 │                 6 │                 3 │              35 │    65 │ 202511533 │ ATL     │    15 │          0 │          1 │
│ 2025_11_8134  │ 2025_11 │      8134 │ 202511104 │   2025 │    11 │ BUF     │ TB       │ 1763272800000 │                 3 │                 1 │              -3 │    30 │ 202511104 │ BUF     │    11 │          0 │          1 │
│ 2025_12_8134  │ 2025_12 │      8134 │ 202511213 │   2025 │    12 │ BUF     │ HOU      │ 1763618400000 │                10 │                 8 │             110 │    44 │ 202511213 │ BUF     │    12 │          0 │          1 │
│ 2025_16_8134  │ 2025_16 │      8134 │ 202511608 │   2025 │    16 │ BUF     │ CLE      │ 1766296800000 │                 5 │                 4 │              34 │    24 │ 202511608 │ BUF     │    16 │          0 │          1 │
│ 2025_17_8134  │ 2025_17 │      8134 │ 202511704 │   2025 │    17 │ BUF     │ PHI      │ 1766901600000 │                 7 │                 6 │              35 │    59 │ 202511704 │ BUF     │    17 │          0 │          1 │
│ 2025_12_7564  │ 2025_12 │      7564 │ 202511207 │   2025 │    12 │ CIN     │ NE       │ 1763877600000 │                 0 │                 0 │               0 │     0 │ 202511207 │ CIN     │    12 │          0 │          1 │
│ 2025_12_6801  │ 2025_12 │      6801 │ 202511207 │   2025 │    12 │ CIN     │ NE       │ 1763877600000 │                 6 │                 5 │              31 │    50 │ 202511207 │ CIN     │    12 │          0 │          1 │
│ 2025_4_8137   │ 2025_4  │      8137 │ 202510409 │   2025 │     4 │ DAL     │ GB       │ 1759035600000 │                11 │                 8 │             134 │    62 │ 202510409 │ DAL     │     4 │          0 │          1 │
│ 2025_5_8137   │ 2025_5  │      8137 │ 202510524 │   2025 │     5 │ DAL     │ NYJ      │ 1759640400000 │                 4 │                 2 │              57 │    47 │ 202510524 │ DAL     │     5 │          0 │          1 │
│ 2025_6_8137   │ 2025_6  │      8137 │ 202510605 │   2025 │     6 │ DAL     │ CAR      │ 1760245200000 │                11 │                 9 │             168 │    46 │ 202510605 │ DAL     │     6 │          0 │          1 │
│ 2025_7_6819   │ 2025_7  │      6819 │ 202510729 │   2025 │     7 │ IND     │ LAC      │ 1760850000000 │                 9 │                 7 │              58 │    52 │ 202510729 │ IND     │     7 │          0 │          1 │
│ 2025_7_11625  │ 2025_7  │     11625 │ 202510729 │   2025 │     7 │ IND     │ LAC      │ 1760850000000 │                 1 │                 1 │               8 │     5 │ 202510729 │ IND     │     7 │          0 │          1 │
│ 2025_7_2133   │ 2025_7  │      2133 │ 202510715 │   2025 │     7 │ LAR     │ JAX      │ 1760850000000 │                 8 │                 5 │              35 │    41 │ 202510715 │ LAR     │     7 │          0 │          1 │
│ 2025_9_12483  │ 2025_9  │     12483 │ 202510925 │   2025 │     9 │ LV      │ JAX      │ 1762059600000 │                 0 │                 0 │               0 │     0 │ 202510925 │ LV      │     9 │          0 │          1 │
│ 2025_9_2374   │ 2025_9  │      2374 │ 202510925 │   2025 │     9 │ LV      │ JAX      │ 1762059600000 │                 1 │                 0 │               0 │    19 │ 202510925 │ LV      │     9 │          0 │          1 │
│ 2025_17_2374  │ 2025_17 │      2374 │ 202511725 │   2025 │    17 │ LV      │ NYG      │ 1766901600000 │                 3 │                 2 │               9 │    33 │ 202511725 │ LV      │    17 │          0 │          1 │
│ 2025_5_7526   │ 2025_5  │      7526 │ 202510505 │   2025 │     5 │ MIA     │ CAR      │ 1759640400000 │                 9 │                 6 │             110 │    49 │ 202510505 │ MIA     │     5 │          0 │          1 │
│      ·        │   ·     │        ·  │     ·     │     ·  │     · │ ·       │  ·       │       ·       │                 · │                 · │               · │     · │     ·     │ ·       │     · │          · │          · │
│      ·        │   ·     │        ·  │     ·     │     ·  │     · │ ·       │  ·       │       ·       │                 · │                 · │               · │     · │     ·     │ ·       │     · │          · │          · │
│      ·        │   ·     │        ·  │     ·     │     ·  │     · │ ·       │  ·       │       ·       │                 · │                 · │               · │     · │     ·     │ ·       │     · │          · │          · │
│ 2025_12_12514 │ 2025_12 │     12514 │ 202511232 │   2025 │    12 │ TB      │ LAR      │ 1763877600000 │                 8 │                 3 │              32 │    63 │ 202511232 │ TB      │    12 │          0 │          1 │
│ 2025_13_2216  │ 2025_13 │      2216 │ 202511333 │   2025 │    13 │ TB      │ ARI      │ 1764482400000 │                 0 │                 0 │               0 │     0 │ 202511333 │ TB      │    13 │          0 │          1 │
│ 2025_13_12514 │ 2025_13 │     12514 │ 202511333 │   2025 │    13 │ TB      │ ARI      │ 1764482400000 │                 8 │                 4 │              42 │    52 │ 202511333 │ TB      │    13 │          0 │          1 │
│ 2025_14_2216  │ 2025_14 │      2216 │ 202511433 │   2025 │    14 │ TB      │ NO       │ 1765087200000 │                 0 │                 0 │               0 │     0 │ 202511433 │ TB      │    14 │          0 │          1 │
│ 2025_14_12514 │ 2025_14 │     12514 │ 202511433 │   2025 │    14 │ TB      │ NO       │ 1765087200000 │                 9 │                 2 │              15 │    65 │ 202511433 │ TB      │    14 │          0 │          1 │
│ 2025_7_2374   │ 2025_7  │      2374 │ 202510734 │   2025 │     7 │ TEN     │ NE       │ 1760850000000 │                 2 │                 2 │              18 │     0 │ 202510734 │ TEN     │     7 │          0 │          1 │
│ 2025_7_12499  │ 2025_7  │     12499 │ 202510734 │   2025 │     7 │ TEN     │ NE       │ 1760850000000 │                 5 │                 2 │              29 │    51 │ 202510734 │ TEN     │     7 │          0 │          1 │
│ 2025_8_12499  │ 2025_8  │     12499 │ 202510814 │   2025 │     8 │ TEN     │ IND      │ 1761454800000 │                 8 │                 4 │              52 │    67 │ 202510814 │ TEN     │     8 │          0 │          1 │
│ 2025_9_12499  │ 2025_9  │     12499 │ 202510934 │   2025 │     9 │ TEN     │ LAC      │ 1762059600000 │                 6 │                 3 │              46 │    30 │ 202510934 │ TEN     │     9 │          0 │          1 │
│ 2025_13_4981  │ 2025_13 │      4981 │ 202511334 │   2025 │    13 │ TEN     │ JAX      │ 1764482400000 │                 0 │                 0 │               0 │     0 │ 202511334 │ TEN     │    13 │          0 │          1 │
│ 2025_13_12499 │ 2025_13 │     12499 │ 202511334 │   2025 │    13 │ TEN     │ JAX      │ 1764482400000 │                 5 │                 1 │               5 │    50 │ 202511334 │ TEN     │    13 │          0 │          1 │
│ 2025_14_4981  │ 2025_14 │      4981 │ 202511408 │   2025 │    14 │ TEN     │ CLE      │ 1765087200000 │                 0 │                 0 │               0 │     0 │ 202511408 │ TEN     │    14 │          0 │          1 │
│ 2025_14_12499 │ 2025_14 │     12499 │ 202511408 │   2025 │    14 │ TEN     │ CLE      │ 1765087200000 │                 3 │                 1 │              14 │    53 │ 202511408 │ TEN     │    14 │          0 │          1 │
│ 2025_15_4981  │ 2025_15 │      4981 │ 202511531 │   2025 │    15 │ TEN     │ SF       │ 1765692000000 │                 0 │                 0 │               0 │     0 │ 202511531 │ TEN     │    15 │          0 │          1 │
│ 2025_15_12499 │ 2025_15 │     12499 │ 202511531 │   2025 │    15 │ TEN     │ SF       │ 1765692000000 │                 1 │                 1 │              17 │    43 │ 202511531 │ TEN     │    15 │          0 │          1 │
│ 2025_16_4981  │ 2025_16 │      4981 │ 202511634 │   2025 │    16 │ TEN     │ KC       │ 1766296800000 │                 0 │                 0 │               0 │     0 │ 202511634 │ TEN     │    16 │          0 │          1 │
│ 2025_16_12499 │ 2025_16 │     12499 │ 202511634 │   2025 │    16 │ TEN     │ KC       │ 1766296800000 │                 4 │                 3 │              58 │    41 │ 202511634 │ TEN     │    16 │          0 │          1 │
│ 2025_17_4981  │ 2025_17 │      4981 │ 202511734 │   2025 │    17 │ TEN     │ NO       │ 1766901600000 │                 0 │                 0 │               0 │     0 │ 202511734 │ TEN     │    17 │          0 │          1 │
│ 2025_17_12499 │ 2025_17 │     12499 │ 202511734 │   2025 │    17 │ TEN     │ NO       │ 1766901600000 │                 7 │                 4 │              37 │    60 │ 202511734 │ TEN     │    17 │          0 │          1 │
│ 2025_4_5872   │ 2025_4  │      5872 │ 202510402 │   2025 │     4 │ WAS     │ ATL      │ 1759035600000 │                 6 │                 6 │              72 │    49 │ 202510402 │ WAS     │     4 │          0 │          1 │
│ 2025_5_5872   │ 2025_5  │      5872 │ 202510529 │   2025 │     5 │ WAS     │ LAC      │ 1759640400000 │                11 │                 8 │              96 │    46 │ 202510529 │ WAS     │     5 │          0 │          1 │
│ 2025_6_5872   │ 2025_6  │      5872 │ 202510635 │   2025 │     6 │ WAS     │ CHI      │ 1760331600000 │                 5 │                 4 │              15 │    47 │ 202510635 │ WAS     │     6 │          0 │          1 │
│ 2025_9_5872   │ 2025_9  │      5872 │ 202510935 │   2025 │     9 │ WAS     │ SEA      │ 1762059600000 │                 6 │                 5 │              41 │    44 │ 202510935 │ WAS     │     9 │          0 │          1 │
│ 2025_10_5872  │ 2025_10 │      5872 │ 202511035 │   2025 │    10 │ WAS     │ DET      │ 1762668000000 │                 5 │                 4 │              29 │    42 │ 202511035 │ WAS     │    10 │          0 │          1 │
│ 2025_11_5872  │ 2025_11 │      5872 │ 202511119 │   2025 │    11 │ WAS     │ MIA      │ 1763272800000 │                 8 │                 7 │              74 │    50 │ 202511119 │ WAS     │    11 │          0 │          1 │
├───────────────┴─────────┴───────────┴───────────┴────────┴───────┴─────────┴──────────┴───────────────┴───────────────────┴───────────────────┴─────────────────┴───────┴───────────┴─────────┴───────┴────────────┴────────────┤
│ 132 rows (50 shown)                                                                                                                                                                                                  18 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘